
   [Parameters]
sig_mass_mean1 =  0.0000 C L(-INF - +INF) 
sig_mass_mean2 =  0.0000 C L(-INF - +INF) 
sig_mass_mean3 =  0.0000 C L(-INF - +INF) 
sig_mass_sigma1 =  1.0000 C L(-INF - +INF) 
sig_mass_sigma2 =  1.0000 C L(-INF - +INF) 
sig_mass_sigma3 =  1.0000 C L(-INF - +INF) 
sig_mass_f1 =  0.30000 C L(-INF - +INF) 
sig_mass_f2 =  0.30000 C L(-INF - +INF) 
bkg_mass_p1 =  3.7414 +/- 0.13138 L(-100 - 100) 
bkg_mass_p2 = -0.997443 +/- 0.032922 L(-100 - 100) 
N_sig =  0.0000 +/- 79.684 C L(-100 - 10000) 
N_bkg =  6834.9 +/- 82.668 L(-100 - 10000) 

   [Observables]
